<div class="header pad-left-right">
    <div class="header-logo">
        <a href="#" (click)="resetActiveLink()">
            <img class="logo-header" src="/assets/images/Magda-white-transparent.png" alt="Magda Ambulante Pflege Logo">
        </a>
    </div>
    <div class="header-navbar">
        <a href="#about-us" (click)="setActiveLink('about-me')" [class.active-link]="activeLink === 'about-us'">Über uns</a>
        <a href="#skills" (click)="setActiveLink('skills')" [class.active-link]="activeLink === 'skills'">Leistungen</a>
        <a href="#contact" (click)="setActiveLink('contact')"
            [class.active-link]="activeLink === 'contact'">Kontakt</a>
        <img [@imageTransition]="burgerImageSrc === image ? 'visible' : 'hidden'" *ngFor="let image of burgerImages"
            [src]="image" (click)="toggleFullScreenDiv()">
    </div>
    <div class="full-screen-div" *ngIf="isFullScreenDivVisible">
        <a href="#about-us" data-aos="zoom-out-up" data-aos-delay="0" (click)="toggleFullScreenDiv()"
            [class.active-link]="activeLink === 'about-me'">Über uns</a>

        <a href="#skills" data-aos="zoom-out-up" data-aos-delay="200" (click)="toggleFullScreenDiv()"
            [class.active-link]="activeLink === 'skills'">Leistungen</a>

        <a href="#contact" data-aos="zoom-out-up" data-aos-delay="600" (click)="toggleFullScreenDiv()"
            [class.active-link]="activeLink === 'contact'">Kontakt</a>
    </div>
</div>