<div class="about-us" id="about-us">
    <div class="headline">
        <h1 data-aos="fade-up">Über Magda</h1>
    </div>
    <div class="content-about-us pad-left-right">
        <span data-aos="fade-up">Mit über 14 Jahren Erfahrung im Pflegebereich bringe ich mein umfassendes Wissen und meine Expertise nun
            in den Ambulanten Pflegedienst "Magda" ein. Meine berufliche Laufbahn führte mich von Serbien über Afrika
            bis nach Deutschland, wo ich in verschiedenen Pflegeumgebungen wertvolle Erfahrungen sammeln konnte. Heute
            bin ich stolz darauf, meine gesamte Praxiserfahrung und mein Fachwissen in den Dienst von "Magda" zu
            stellen, um die Pflegequalität für unsere Kunden kontinuierlich zu verbessern und Arbeitsbedingungen für
            unsere Mitarbeiter attraktiver zu gestalten.
            <br> <br>


            Der Ambulante Pflegedienst "Magda" verfolgt innovative Ansätze, um die Pflege nicht nur effizienter, sondern
            auch menschlicher und persönlicher zu gestalten. Unser Ziel ist es, eine Pflegeumgebung zu schaffen, in der
            sich sowohl Kunden als auch Mitarbeiter voll und ganz aufgehoben fühlen.
            <br> <br>

            Vertrauen ist das Fundament unserer Arbeit. Wir sind überzeugt, dass nur durch gegenseitiges Vertrauen eine
            Pflege von höchster Qualität gewährleistet werden kann. Deshalb setzen wir auf Transparenz, Professionalität
            und Herzlichkeit in allen unseren Dienstleistungen.
            <br> <br>

            Ich danke Ihnen für Ihr Vertrauen in den Ambulanten Pflegedienst "Magda" und freue mich darauf, gemeinsam
            mit Ihnen neue Wege in der Pflege zu beschreiten.
            <br> <br>

            Mit herzlichen Grüßen,
            <br>
            Magdalena Nešić</span>
        <img data-aos="flip-left" data-aos-duration="2000" src="/assets/images/Magda-white-transparent.png" alt="Magda Ambulante Pflege">
    </div>
</div>